
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Dashboard - Event Management</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

 <link rel="stylesheet" href=".././css/styles.css">
 <link rel="stylesheet" href=".././css/style.css">
 <link rel="stylesheet" href=".././css/blog.css">
 <script src=".././js/dashboard.js" defer></script>
 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<meta name="google-site-verification" content="e9TAIpBQqNcc32Ua5BOyS9F6hxshX7pphZf4jQXhzgM" />
</head>

<body>
