<!-- footer section starts  -->

<footer>
  <div class="content">
    <div class="top">
      <div class="logo-details">
        <i class="fab fa-slack"></i>
        <span class="logo_name">Logo</span>
      </div>
      <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
    <div class="link-boxes">
      <ul class="box">
        <li class="link_name">Company</li>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/contact">Contact us</a></li>
        <li><a href="/signup">Get started</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">Features</li>
        <li><a href="/events">Events</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/promoters">Promoters</a></li>
        <li><a href="/organizers">Organizers</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">Solutions</li>
        <li><a href="tel: +256781977217">Payments</a></li>
        <li><a href="/volleyball">Tickets Book</a></li>
        <li><a href="/kick">Promote Events</a></li>
        <li><a href="/upcoming">Promote Services</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">Categories</li>
        <li><a href="/latestnews">Sport</a></li>
        <li><a href="/trendingnews">Fashion</a></li>
        <li><a href="/featuring">Concert</a></li>
        <li><a href="/topnews">Business</a></li>
      </ul>
      <ul class="box input-box">
        <form action="/subscribe" method="post">
        <li class="link_name">Subscribe</li>
        <li><input type="email" name="email" placeholder="Enter your email"></li>
        <li><input type="submit" value="Subscribe"></li>
        </form>
      </ul>
    </div>
  </div>
  <div class="bottom-details">
    <div class="bottom_text">
      <span class="copyright_text">Copyright © 2021 <a href="#">Logo.</a>All rights reserved</span>
      <span class="policy_terms">
        <a href="#">Privacy policy</a>
        <a href="#">Terms & condition</a>
      </span>
    </div>
  </div>
</footer>


<script src="/js/index.js" defer></script>

<!-- AOS CSS -->
<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
<!-- AOS JS -->
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

</body>
</html>
