<%-include("../partials/header") %>
  <!-- services section starts  -->

  <!-- ads -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6107201351483079"
       crossorigin="anonymous"></script>
  <!-- first ads -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-6107201351483079"
       data-ad-slot="2673877752"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <!-- ads -->
  

  <section class="services" id="services">

      <div class="heading">
        <h1 style="color: #cd7700;">we aim to create technology advancement's  awareness in south Sudan </h1>
      </div>

      <!-- ads -->

     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6107201351483079"
     crossorigin="anonymous"></script>
<!-- about ads -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-6107201351483079"
           data-ad-slot="5136389569"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

<!-- ads -->

      <div class="row">
        <div class="column9"><div class="firstcard" data-rotate-x="90deg" data-move-z="-500px" data-move-y="200px">
          <p><img id="firstcard-image" src="images/mi.jpg" alt="Pineapple">
            <h2>Mission</h2>To provide innovative and reliable technological solutions that empower individuals and businesses to thrive in an ever-evolving digital landscape, while maintaining a commitment to sustainability and social responsibility.</p>
       </div>
      </div>


        <div class="column9"><div class="firstcard" data-rotate-x="90deg" data-move-z="-500px" data-move-y="200px">
          <p><img id="firstcard-image" src="images/vi.jpg" alt="Pineapple">
            <h2>Vision</h2>To be the foremost leader in technological advancement. We envision a future where technology seamlessly integrates into every aspect of life, enhancing productivity, connectivity, and well-being for all.</p>
        </div>
      </div>

        <div class="column9"><div class="firstcard" data-rotate-x="90deg" data-move-z="-500px" data-move-y="200px">
          <p><img id="firstcard-image" src="images/v.jpg" alt="Pineapple">
            <h2>values</h2>we retain enduring value through their time-tested reliability, functionality, and cultural significance, serving as foundational pillars for innovation and providing a lens into the evolution of human ingenuity.</p>
        </div>
      </div>

   </div>

  </section>

  <!-- services section ends -->


<!-- ads -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6107201351483079"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-6107201351483079"
     data-ad-slot="5295305696"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- ads -->


  <!-- banner section starts  -->

  <div class="banner">

      <div class="content" data-aos="zoom-in-up" data-aos-delay="300">
          <span>Work with us</span>
          <h3>Let's do this together</h3>
          <p>Give us chance and you will like our service, let's enjoy quality work together.</p>
          <a href="tel: +211927996390" class="btn">book now</a>
      </div>

  </div>

  <!-- banner section ends -->


  <!-- about section starts  -->

  <section class="about" id="about">

    <div class="container">
      <div class="contact" style="text-align:center">
        <span style="color:#cd7700; font-weight: bold;">Who we are</span>
      </div>
      <p id="p6">
        Established in 2019, Classic Technologies is a pioneer in ICT services, specializing in website development, mobile app creation, and graphic design. Our expertise extends to ICT consultancy and a plethora of other services tailored to meet your digital needs. With a commitment to excellence, we harness cutting-edge technologies to deliver innovative solutions. Our team of seasoned professionals is dedicated to providing top-notch services, ensuring your projects are executed seamlessly from inception to completion. At Classic Technologies, we strive to exceed expectations, offering simple yet powerful solutions to propel your business into the digital age.
      </p>
      <div class="row">
        <div id="about2" class="column" data-skew="90deg,90deg">
          <img id="text2" src="images/b.jpg" width="auto" height="400px"alt="">
        </div>
        <div id="about1" class="column" data-rotate-y="270deg" data-move-x="150%">

          <p> <strong style="color:#cd7700;">Why working with us.</strong>  <br></p>

          <p id="p1"> 1. Expertise: Our team consists of skilled professionals with years of experience in website development, mobile app creation, graphic design, and ICT consultancy.</p>

          <p id="p2"> 2. Innovation: We stay ahead of the curve, constantly exploring new technologies and trends to ensure your projects are cutting-edge and impactful.</p>

          <p id="p2"> 3. Tailored Solutions: We understand that every client is unique. That's why we provide personalized services tailored to your specific requirements and goals.</p>

          <p id="p2"> 4. Quality Assurance: With rigorous testing and attention to detail, we ensure that our deliverables meet the highest standards of quality and reliability.</p>

          <p id="p2"> 5. Client Satisfaction: Our ultimate goal is your satisfaction. We prioritize clear communication, timely delivery, and ongoing support to ensure a smooth and successful collaboration. what are you waiting for?.</p> <br>

          <a href="tel: +211927996390" class="btn">Get In Touch with us</a>

        </div>
      </div>
    </div>

  </section>
  <!-- about section ends -->


  <!-- ads -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6107201351483079"
       crossorigin="anonymous"></script>
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-format="autorelaxed"
       data-ad-client="ca-pub-6107201351483079"
       data-ad-slot="5295305696"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <!-- ads -->

  <!-- about section ends -->

<%-include("../partials/footer") %>
