<%-include("../partials/header") %>

<!-- contact -->

<!-- ads -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6107201351483079"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-6107201351483079"
     data-ad-slot="5295305696"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- ads -->


<div id="contact" class="container">
  <div class="contact">
    <span>Get in touch with us</span>
  </div>
  <div class="row">
    <div class="column" data-aos="zoom-in-left" data-aos-delay="180">
     <div><iframe width="626" height="500" id="text" src="https://maps.google.com/maps?q=Adjumani%20District%20Uganda&t=k&z=15&ie=UTF8&iwloc=&output=embed"  ></iframe> </div>
    </div>
    <div class="column" data-aos="zoom-in-right" data-aos-delay="250">
      <form method="post" action="mailto:info@junubclassic.com">
        <label class="contact1" for="name">Full Name</label>
        <input required="true" autocomplete="off" class="contact2" type="text" id="name" name="name" placeholder="Your full name..">
        <label class="contact1" for="email">Email</label>
        <input required="true" autocomplete="off" class="contact2" type="email" id="email" name="email" placeholder="Your email..">
        <label class="contact1" for="Telephone">Phone</label>
        <input required="true" autocomplete="off" class="contact2" type="number" id="Tel" name="Tel" placeholder="Your phone..">
        <label class="contact1" for="subject">Subject</label>
        <textarea required="true" autocomplete="off" id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>
<!-- contact -->


<!-- ads -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6107201351483079"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-6107201351483079"
     data-ad-slot="5295305696"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- ads -->

 <%-include("../partials/footer") %>
