<div class="sidebar" id="sidebar">
  <h2><a style="text-decoration: none; color: white" href="/">Vendor Portal</a></h2>

  <div class="tab" data-label="Dashboard" onclick="showSection('dashboard')">
    <i class="fas fa-store"></i><span>Dashboard</span>
  </div>

  <div class="tab" data-label="Profile" onclick="showSection('profile')">
    <i class="fas fa-user"></i><span>Profile</span>
  </div>

  <div class="tab" data-label="Create Listing" onclick="showSection('create-listing')">
    <i class="fas fa-plus-circle"></i><span>Create Listing</span>
  </div>

  <div class="tab" data-label="My Listings" onclick="showSection('my-listings')">
    <i class="fas fa-boxes"></i><span>My Listings</span>
  </div>

  <div class="tab" data-label="Notifications" onclick="showSection('notification')">
    <i class="fas fa-bell"></i><span>Notifications</span>
  </div>

  <div class="tab" data-label="Feedback" onclick="showSection('feedback')">
    <i class="fas fa-comment-dots"></i><span>Feedback</span>
  </div>

  <div class="tab" data-label="Settings" onclick="showSection('setting')">
    <i class="fas fa-cog"></i><span>Settings</span>
  </div>

  <div class="tab" data-label="Support" onclick="showSection('support')">
    <i class="fas fa-headset"></i><span>Support</span>
  </div>

  <div class="tab" data-label="Logout" onclick="location.href='/logout'">
    <i class="fas fa-sign-out-alt"></i><span>Logout</span>
  </div>

</div>
<button class="collapse-toggle" onclick="toggleSidebar()" id="collapseBtn"><i class="fa fa-angle-left" aria-hidden="true"></i></button>


<div id="tooltip"></div>
